In [1]:
from datetime import datetime
from typing import Dict, List, Literal, Any
import pandas as pd
from IPython.display import display

In [2]:
class ToDo_List:
    attributes = ["id", "title", "due_date", "due_time", "created_at", "completed"]

    def __init__(self, tasklist: List[Dict] = []) -> None:
        self.num_of_tasks = len(tasklist)
        self.tasklist = tasklist
    
    @staticmethod
    def task_to_str(task: Dict[str, Any]) -> str:
        task_str = ''

        for i in task:
            attribute = i
            val = task[i]
            task_str += f"{attribute}: {val}\n"

        return task_str

    def input_task(self) -> Dict[str, Any]:
        title = input("Enter the task: ")
        duedate = input("Enter due date (in DD/MM/YYYY format):")
        duetime = input("Enter due time if any, else leave blank (in 24 hr format: HH:MM): ")

        self.num_of_tasks += 1
        task_id =  self.num_of_tasks
        due_date = datetime.strptime(duedate, "%d/%m/%Y").date()

        if duetime == '':
            due_time = 'NA'
        else:
            due_time = datetime.strptime(duetime, "%H:%M")
        
        created_at = datetime.now().strftime("%Y-%m-%d %H:%M")
        completed = False

        values = [task_id, title, due_date, due_time, created_at, completed]
        task = {attribute: value for (attribute, value) in zip(ToDo_List.attributes, values)}

        return task

    def add_task(self, task: Dict[str, Any]) -> str:
        self.tasklist.append(task)
        return ToDo_List.task_to_str(task)
    
    def display_tasks(self) -> None:
        tasklist = pd.DataFrame(self.tasklist)
        display(tasklist)

    def modify_task(self, id: int, attribute: Literal["title", "due_date", "due_time"], new_value) -> str:
        self.tasklist[id-1][attribute] = new_value
        task = self.tasklist[id-1]

        return ToDo_List.task_to_str(task)
    
    def complete_task(self, id: int) -> str:
        self.tasklist[id-1]["completed"] = True
        task = self.tasklist[id-1]

        return ToDo_List.task_to_str(task)
    
    def remove_task(self, id: int) -> str:
        task = self.tasklist.pop(id-1)
        return ToDo_List.task_to_str(task)

In [2]:
task = input()
print(task)
print(task=='')

True

In [7]:
date = input("Enter Date")
date = datetime.strptime(date, '%d/%m/%Y')
print(date.date())

2025-02-12

In [10]:
time = input("Enter time: ")
time = datetime.strptime(time, "%H:%M").time()
print(time)

14:30:00

In [13]:
print(type(datetime.now()))
print(type(datetime.now().strftime("%Y-%m-%d %H:%M")))

<class 'datetime.datetime'>
<class 'str'>

In [41]:
todolist = ToDo_List([
    {
        "id": 1,
        "title": "Submit assignment",
        "due_date": "2025-07-08",
        "due_time": "23:59",
        "created_at": datetime.now().strftime("%Y-%m-%d %H:%M"),
        "completed": False
    },
    {
        "id": 2,
        "title": "Team meeting",
        "due_date": "2025-07-07",
        "due_time": "14:00",
        "created_at": datetime.now().strftime("%Y-%m-%d %H:%M"),
        "completed": False
    },
    {
        "id": 3,
        "title": "Buy groceries",
        "due_date": "2025-07-06",
        "due_time": "18:30",
        "created_at": datetime.now().strftime("%Y-%m-%d %H:%M"),
        "completed": True
    }
])

todolist.display_tasks()

   id              title    due_date due_time        created_at  completed
0   1  Submit assignment  2025-07-08    23:59  2025-07-06 22:20      False
1   2       Team meeting  2025-07-07    14:00  2025-07-06 22:20      False
2   3      Buy groceries  2025-07-06    18:30  2025-07-06 22:20       True

In [4]:
task = {
    "id": 4,
    "title": "Finish project proposal",
    "due_date": "2025-07-10",
    "due_time": "17:00",
    "created_at": datetime.now().strftime("%Y-%m-%d %H:%M"),
    "completed": False
}

print(task.keys())
print(set(task.keys()))

dict_keys(['id', 'title', 'due_date', 'due_time', 'created_at', 'completed'])
{'due_date', 'title', 'created_at', 'completed', 'id', 'due_time'}

In [43]:
todolist.display_tasks()

,id,title,due_date,due_time,created_at,completed
0,1,Submit assignment,2025-07-08,23:59,2025-07-06 22:20,False
1,2,Team meeting,2025-07-07,14:00,2025-07-06 22:20,False
2,3,Buy groceries,2025-07-06,18:30,2025-07-06 22:20,True
3,4,Finish project proposal,2025-07-10,17:00,2025-07-06 22:20,False

In [6]:
df = pd.DataFrame({"Name": ["Arya", "Srabanti"],
                  "Age": [30, 45]})
df

       Name  Age
0      Arya   30
1  Srabanti   45

In [8]:
for i in df:
    print(df[i])

0        Arya
1    Srabanti
Name: Name, dtype: object
0    30
1    45
Name: Age, dtype: int64